.App {
    display: flex;
    margin: 0px auto;
    max-width: 1000px;
    flex-wrap: wrap;
    color: var(--text-color);
    background: linear-gradient(to bottom, #0b0f25, #655475);
}

.left, .right {
    background-size: cover;
    box-sizing: border-box;
    padding: 15px;
}

.left {
    background-image: url("https://i.pinimg.com/564x/2c/78/bb/2c78bb1fd4b3d87391615cc22c1dd57f.jpg");
    flex: 1;
    border-right: solid 2px var(--accent-color);
}

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
}