.form-container {
    flex: 1;
    display: block;
    width: 100%;
}

input[type="text"] {
    border: none;
    border-bottom: solid 1px var(--accent-color);
    background: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
}

button {
    font-family: 'Lato', sans-serif;
    padding: 7px 15px;
    border-radius: 4px;
    background: var(--background-color);
    color: var(--text-color);
    border: solid 2px var(--accent-color);
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    background-color: var(--accent-color);
}