.form-container {
    flex: 1;
    position: relative;
    display: block;
    margin: 4px auto 0;
}

input[type="text"] {
    border: none;
    border-bottom: solid 1px var(--accent-color);
    background: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    width: 120px;
    line-height: 1.5em;
    margin: 0 15px;
    outline: none;
    color: var(--text-color);
}

input[type="text"]::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

button {
    font-family: 'Lato', sans-serif;
    padding: 7px 15px;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--text-color);
    /*border: solid 1px var(--accent-color);*/
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.1s;
    margin: 0 15px;
    outline: none;
}

button:hover {

}